<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Post</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" [(ngModel)]="post.nombre">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Desricpion</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="post.paterno"></textarea>
  </div>
  <button   (click)="guardar()">Guardar</button>